@font-face {
    font-family: "Roboto";
    src: url("../resources/fonts/Roboto-VariableFont.ttf") format("truetype");       
}

:root {
    --emphasis: #4A4A4A;
    --regular: #767676;
    --background: #D8D8D8;
}

html {
    font-size: 16px;
}

body {
    font-family: "Roboto";
    font-size: 2rem;
    color: var(--regular);
}

h1 {
    font-weight: 700;
    color: var(--emphasis);
    margin: 16px 0;
}

.header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.left-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-header span {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: left;
}

.colmar-bold {
    font-weight: 700;
    color: var(--emphasis);
}

.nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav li{
    display: flex;
    margin-left: 16px;
}

.nav a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--emphasis);
}

.banner {
    background-color: var(--background);
    padding: 32px 24px;
    display: flex;
}

.banner img {
    width: 60%;
}

.banner-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.banner-button {
    margin-top: 16px;
    padding: 8px 0;
    background-color: var(--emphasis);
    color: var(--background);
    border: 1px solid var(--regular);
}